In [10]:
scores = [88, 73, 89, 59, 77]
print(scores[0] >= 60 and scores[1] >= 60 and scores[2] >= 60 and scores[3] >= 60 and scores[4] >= 60)

False

In [33]:
#함수
#arg1, arg2 -> function_name(para1, para2)
#함수와 메서드의 차이: 클래스 안에 있냐 밖에 있냐 차이
numbers = [1, 2, 3, 4, 5, 6, 7]
numbers.append(8)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8]

### insert는 요소를 원하는 인덱스 위치에 넣을 수 있다.  
insert(인덱스, 요소)

In [34]:
numbers.insert(0, 0)
numbers.insert(4, 0)
numbers.insert(6, 0)
numbers.insert(len(numbers), 0)
print(numbers)

[0, 1, 2, 3, 0, 4, 0, 5, 6, 7, 8, 0]

### extend는 리스트에 리스트를 뒤로 붙인다.  
리스트1.extend(리스트2)

In [35]:
numbers.extend([9, 10, 11])
print(numbers)

[0, 1, 2, 3, 0, 4, 0, 5, 6, 7, 8, 0, 9, 10, 11]

### remove(요소) 리스트에서 요소와 같은 것을 삭제한다.

In [98]:
print(numbers)
numbers.remove(0)
print(numbers)

[1, 2, 3, 4, 0, 5, 6, 7, 8, 0, 9, 10, 11]
[1, 2, 3, 4, 5, 6, 7, 8, 0, 9, 10, 11]

In [24]:
del numbers[0]
print(numbers)

[2, 0, 0, 3, 0, 0, 4, 0, 5, 6, 7, 8, 0, 0, 0, 9, 10, 11, 9, 10, 11]

### pop() -> 제일 뒤에 오는 요소를 반환한다. 그리고 리스트에서 제거한다.

In [25]:
print(numbers.pop())

11

In [26]:
print(numbers)

[2, 0, 0, 3, 0, 0, 4, 0, 5, 6, 7, 8, 0, 0, 0, 9, 10, 11, 9, 10]

### index(인자) 리스트 안에 인자와 같은 요소를 앞에서 부터 찾습니다. 제일 처음 바력노딘 요소의 인덱스 위치를 반환합니다.

In [28]:
print(numbers.index(6))

9

### count(인자) 리스트 안에 인자와 같은 요소가 몇개가 있는지 반환한다.

In [30]:
print(numbers)
print(numbers.count(0))

[2, 0, 0, 3, 0, 0, 4, 0, 5, 6, 7, 8, 0, 0, 0, 9, 10, 11, 9, 10]
8

In [31]:
numbers.sort()
print(numbers)
numbers.reverse()
print(numbers)

[0, 0, 0, 0, 0, 0, 0, 0, 2, 3, 4, 5, 6, 7, 8, 9, 9, 10, 10, 11]
[11, 10, 10, 9, 9, 8, 7, 6, 5, 4, 3, 2, 0, 0, 0, 0, 0, 0, 0, 0]

In [37]:
numbers.reverse()
print(numbers)

[0, 1, 2, 3, 0, 4, 0, 5, 6, 7, 8, 0, 9, 10, 11]

In [39]:
stack = [3, 4, 5]
stack.append(6)
stack.append(7)
print(stack)
print(stack.pop())
print(stack)
print(stack.pop())
print(stack.pop())
print(stack)

[3, 4, 5, 6, 7]
7
[3, 4, 5, 6]
6
5
[3, 4]

### 튜플. 리스트와 비슷하지만 수정 불가. 불변 특징 가짐. 소괄호 생략 가능

In [44]:
tuple_variable = (1, 2, 3, 4, 5, "hello")
print(tuple_variable)

(1, 2, 3, 4, 5, 'hello')

In [45]:
tuple_variable[0] = 0

TypeError: 'tuple' object does not support item assignment

In [46]:
tuple_variable[1:3] = ("dd", "ee")

TypeError: 'tuple' object does not support item assignment

### 튜플에서는 요소에 대한 삭제도 불가

In [48]:
del tuple_variable[0]

TypeError: 'tuple' object doesn't support item deletion

In [50]:
# 선언할 떄 괄호 안쓰면 튜플로 인식(소괄호 생략 가능)
t_v2 = "음", "오", "아", "예"
print(type(t_v2))
print(t_v2)

<class 'tuple'>
('음', '오', '아', '예')

### 튜플은 왜 쓰나? 리스트는 크기가 바뀔 수 있기 때문에 메모리에서 신경을 써야해서 부담. 튜플은 빠르게 생성할 수 있고 리스트보다 메모리 부담이 적은 대신 내용 변경 불가

### 튜플과 리스트의 소요시간 비교

In [58]:
#튜플 생성시간
import time

curr = time.time()
total = []

for i in range(1000):
    for j in range(1000):
        total.append((i, j))
        
last = time.time()
print(last - curr)

0.3171515464782715

In [59]:
#리스트 생성시간
import time

curr = time.time()
total = []

for i in range(1000):
    for j in range(1000):
        total.append([i, j])
        
last = time.time()
print(last - curr)

0.6596553325653076

In [61]:
s1, s2 = "text1", "text2"
print(s1)
print(s2)

text1
text2

In [62]:
s3, s4, s5 = ["이렇게", "리스트도", "가능합니다."]
print(s3, s4, s5)

이렇게 리스트도 가능합니다.

In [63]:
s6, s7, s8, s9 = "문자열도"
print(s6, s7, s8, s9)

문 자 열 도

In [73]:
input_value = input("메시지 값을 입력해주세요: ")

메시지 값을 입력해주세요:  1111

In [71]:
print("input_value: ", input_value, "\ntype: ", type(input_value))

input_value:  1111
type:  <class 'str'>

In [72]:
input_value1 = input()

 1112

In [74]:
input_value = int(input_value)
print("input_value: ", input_value, "\ntype: ", type(input_value))

input_value:  1111
type:  <class 'int'>

In [80]:
input_value2 = input("정수 외에 다른 값을 입력해보세요: ")
print(input_value2)

정수 외에 다른 값을 입력해보세요:  1.1

1.1

In [77]:
input_value2 = int(input_value2)

ValueError: invalid literal for int() with base 10: '1.1'

In [78]:
input_value2 = float(input_value2)
print(input_value2)

1.1

In [79]:
input_value2 = int(input_value2)
print(input_value2)

1

In [81]:
input_value3= input("정수 외 다른값:")

정수 외 다른값: eng

In [85]:
input_value4 = int(input("정수를 입력: "))
print(input_value4)

정수를 입력:  3

3

In [89]:
name = input("이름을 입력하세요: ")
print(name, "씨, 안녕하세요?")
print("파이썬에 오신 것을 환영합니다.")
first = int(input("첫 번째 정수를 입력하세요: "))
second = int(input("두 번째 정수를 입력하세요: "))
print(first, "과", second, "의 합은 ", first + second, "입니다.")

이름을 입력하세요:  엔코아

엔코아 씨, 안녕하세요?
파이썬에 오신 것을 환영합니다.

첫 번째 정수를 입력하세요:  300
두 번째 정수를 입력하세요:  400

300 과 400 의 합은  700 입니다.

In [93]:
stadium = input("경기장은 어디입니까? ")
winner = input("이긴 팀은 어디입니까? ")
loser = input("진 팀은 어디입니까? ")
best = input("우수 선수는 누구입니까? ")
score = input("스코어는 몇대몇입니까? ")

print("[속보]", winner, "가", score, "로 승리...")
print("오늘 ", stadium, " 경기장에서 야구 경기가 있었습니다.")
print(winner, "와", loser, "는 치열한 공방전을 펼쳤습니다.")
print("이 경기에서 ", best, "가 맹활약을 했습니다.")
print("그 끝내 ", winner, "가 ", loser, "를", score, "로 승리하였습니다.\n기사 끝.")

경기장은 어디입니까?  고척
이긴 팀은 어디입니까?  KT
진 팀은 어디입니까?  LG
우수 선수는 누구입니까?  강백호
스코어는 몇대몇입니까?  10:9

[속보] KT 가 10:9 로 승리...
오늘  고척  경기장에서 야구 경기가 있었습니다.
KT 와 LG 는 치열한 공방전을 펼쳤습니다.
이 경기에서  강백호 가 맹활약을 했습니다.
그 끝내  KT 가  LG 를 10:9 로 승리하였습니다.
기사 끝.

In [95]:
#split() 문자열을 구분자로 쪼갠다. 기본 값은 공백
result = '1, 2, 3'.split(',')
print(type(result))
print(result)

<class 'list'>
['1', ' 2', ' 3']

In [97]:
time = input("hh:mm:ss 의 형태로 시간을 입력해주세요: ")
result = time.split(':')
print("실행 결과:")
print("시: ", result[0], "\n분: ", result[1], "\n초: ", result[2])

hh:mm:ss 의 형태로 시간을 입력해주세요:  12:33:23

실행 결과:
시:  12
분:  33
초:  23

In [100]:
time = input("hh:mm:ss 의 형태로 시간을 입력해주세요: ")
h,m,s = time.split(':')
print("실행 결과:")
print("시: ", h, "\n분: ", m, "\n초: ", s)

hh:mm:ss 의 형태로 시간을 입력해주세요:  12:33:23

실행 결과:
시:  12
분:  33
초:  23

In [101]:
a = [1.2, 2.5, 3.7, 4.6]
a = list(map(int, a))
print(a)

[1, 2, 3, 4]

In [102]:
#map(function, iterable)

In [116]:
kor, eng, mat, sci = map(int, input("국어, 영어, 수학, 과학 점수를 입력해주세요: ").split(","))

print("실행 결과:\n평균 점수는 ", (kor+eng+mat+sci)/4, "점입니다.")

국어, 영어, 수학, 과학 점수를 입력해주세요:  98,100,96,100

실행 결과:
평균 점수는  98.5 점입니다.

In [117]:
scores = input("국어, 영어, 수학, 과학 점수를 입력해주세요: ").split(",")
kor, eng, mat, sci = map(int, scores)
print(kor, eng, mat, sci)

국어, 영어, 수학, 과학 점수를 입력해주세요:  98,100,86,98

98 100 86 98

### 값 구분하는 단위 변경하기. 공백이 아닌 다른 문자로 sep

In [119]:
print("value", 1, 1.1, [1, 2, "text"], sep = ", ")

value, 1, 1.1, [1, 2, 'text']

In [123]:
print("줄이 바뀌지 않습니다.", end="")
print("그 이유는 end=\"\\n\"과 같이 기본 설정된 값을 빈 스트링으로 변경했기 때문입니다.")
print("sep", "end는 맨 뒤에 써야하며 둘 간 순서는 상관 없습니다.", sep=", ", end="")
print("어떻게 사옹하는지", "이해가 되시나요?", sep="\n", end="?")

줄이 바뀌지 않습니다.그 이유는 end="\n"과 같이 기본 설정된 값을 빈 스트링으로 변경했기 때문입니다.
sep, end는 맨 뒤에 써야하며 둘 간 순서는 상관 없습니다.어떻게 사옹하는지
이해가 되시나요??