### 퀴즈 2

In [4]:
a = list(range(5, 10, 1))
print(a)

[5, 6, 7, 8, 9]

In [3]:
print(reversed(a))

<list_reverseiterator object at 0x000001F57DEC8F10>

In [6]:
print(a.reverse())

None

In [32]:
a = input("현재 시간을 입력하세요: ").split(':')
if a[1] == '00':
    print("정각입니다.")
else:
    print("정각이 아닙니다.")

현재 시간을 입력하세요:  02:33

정각이 아닙니다.

In [ ]:
list_a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in range(2, 10, 3):
    list_a[i] = '짝'
print(list_a)

[1, 2, '짝', 4, 5, '짝', 7, 8, '짝', 10]

In [35]:
list_a = list(range(1, 11))
list_a[2::3] = ["짝"] * len(list_a[2::3]) #슬라이싱으로 값 넣으려면 개수가 맞아야 함
print(list_a)

[1, 2, '짝', 4, 5, '짝', 7, 8, '짝', 10]

In [36]:
#'10 9 8 7'.split()
#[0] * 10
#list(range(10))
#10, 20, 30
[-1, '가', 100.2]

[-1, '가', 100.2]

In [37]:
sum=0
for i in range(1, 11, 2):
    sum = sum + i
print("1부터 10까지 홀수의 합은 ", sum, "입니다.", sep="")

1부터 10까지 홀수의 합은 25입니다.

In [38]:
tuple(range(-10, 10, 3))

(-10, -7, -4, -1, 2, 5, 8)

### 23.01.09 월 수업

In [41]:
for i in range(5):
    for j in range(5):
        print("*", end="")
    print("\n")

*****

*****

*****

*****

*****

In [57]:
for i in range(0, 10, 1):
    for j in range(i):
        print("*", end="")
    print("\n")

*

**

***

****

*****

******

*******

********

*********

In [59]:
i =0
while i<10:
    print("Hello World!")
    i +=1

Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!

In [62]:
count = int(input("반복할 횟수를 입력하세요: "))
while( count > 0):
    print("Hello world", count)
    count -= 1

반복할 횟수를 입력하세요:  5

Hello world 5
Hello world 4
Hello world 3
Hello world 2
Hello world 1

In [66]:
i=2
while i <= 100:
    print(i, end="\t")
    i += 2

2	4	6	8	10	12	14	16	18	20	22	24	26	28	30	32	34	36	38	40	42	44	46	48	50	52	54	56	58	60	62	64	66	68	70	72	74	76	78	80	82	84	86	88	90	92	94	96	98	100

In [73]:
i=1
num = int(input("구구단을 알려드립니다. 숫자를 입력하세요: "))
while i <= 9:
    print(num, "*", i, "=", num*i)
    i = i + 1

구구단을 알려드립니다. 숫자를 입력하세요:  9

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [100]:
num = int(input("학생의 수:"))
i=1
sum=0
while i <= num:
    sum = int(input(str(i) + "번 학생의 점수:"))
    i += 1
print("평균: ", sum/num, "점", sep="")

학생의 수: 3
1번 학생의 점수: 77
2번 학생의 점수: 88
3번 학생의 점수: 99

평균: 33.0점

In [101]:
scores=(97, 100 , 77)

for _ in range(len(scores)):
    print(scores[_])

97
100
77

In [5]:
# A학급의 수학 점수가 다음과 같을 때 while문 조건식에 len() 함수를 사용하여
# 이 학급의 평균 점수를 구하는 프로그램을 구현해보세요.
class_a = (70, 60, 55, 75, 95, 90, 80, 80, 85, 100)
sum=0; i=0
while i < len(class_a):
    sum += class_a[i]
    i+=1
print(sum/len(class_a))

79.0

In [9]:
#break문

for _ in range(10000):
    print(_, end=" ")
    if _ == 10:
        break

0 1 2 3 4 5 6 7 8 9 10

In [13]:
i=0
total =0
while True:
    total += i
    i += 1
    if i > 100:
        break
print(total)

5050

In [1]:
while True:
    input_value = input("q를 입력하면 종료됩니다.")
    if input_value == "q": break
print("프로그램을 종료합니다.")

q를 입력하면 종료됩니다. i
q를 입력하면 종료됩니다. e
q를 입력하면 종료됩니다. q

프로그램을 종료합니다.

In [7]:
i=0
while True:
    if i % 10 != 3:
        i+=1
        continue
    if i > 100:
        break
    print(i, end=" ")
    i += 1

3 13 23 33 43 53 63 73 83 93

In [22]:
for i in range(1, 11):
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

In [29]:
start = int(input("시작하는 정수 입력: "))
end = int(input("끝나는 정수 입력: "))
total = 0
for i in range(start, end+1):
    total += i
print(total)

시작하는 정수 입력:  2
끝나는 정수 입력:  10

54

In [33]:
# fstring print(f"{n}부터 {m}까지.")

In [39]:
start = int(input("시작하는 정수 입력: "))
end = int(input("끝나는 정수 입력: "))
i=start
total=0
while i <= end:
    total = total + i
    i+=1
    
print(f"{start}부터 {end}까지의 합은 {total}입니다.")

시작하는 정수 입력:  2
끝나는 정수 입력:  10

2부터 10까지의 합은 54입니다.

In [49]:
start = int(input("시작하는 정수 입력: "))
end = int(input("끝나는 정수 입력: "))
total = 0
for i in range(start, end+1):
    if i%2==0:
        total = total + i**2
print(f"{start}부터 {end} 사이의 짝수 제곱의 합은 {total}입니다.")

시작하는 정수 입력:  4
끝나는 정수 입력:  7

4부터 7 사이의 짝수 제곱의 합은 52입니다.

In [50]:
start = int(input("시작하는 정수 입력: "))
end = int(input("끝나는 정수 입력: "))
total = 0
i=start
while i <= end:
    if i%2==0:
        total += i**2
    i += 2
    
print(f"{start}부터 {end} 사이의 짝수 제곱의 합은 {total}입니다.")

시작하는 정수 입력:  4
끝나는 정수 입력:  7

4부터 7 사이의 짝수 제곱의 합은 52입니다.

In [51]:
Kor = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0
for i in range(len(Kor)): # for score in Kor:
    total += Kor[i] #  total += score
print(total/len(Kor))

79.0

In [53]:
Kor = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total=0
i=0
while i<len(Kor):
    total += Kor[i]
    i+=1
print(total/len(Kor))

79.0

In [62]:
total=0
for i in range(1, 1000):
    if i%3==0 or i%5==0:
        total += i
        
print(f"결과는 {total}입니다.")

결과는 233168입니다.

In [63]:
total=0
i=0
while i < 1000:
    if i%3==0 or i%5==0:
        total += i
    i+=1
print(f"결과는 {total}입니다.")

결과는 233168입니다.