In [17]:
# scores = input("실기점수를 입력하세요: ").split(" ")
# scores = list(map(int, scores))
scores = list(map(int, input("실기점수를 입력하세요: ").split(" ")))
mini = scores[0]
maxi = scores[0]
total = 0

for i in (scores):
    total += i
    if i < mini: mini = i
    if i > maxi: maxi = i
total = total - maxi - mini

print(f"이 학생의 평균 점수는 {total/(len(scores)-2)}입니다.")
# 70 50 85 98 82: 79.0

실기점수를 입력하세요:  70 50 85 98 82

이 학생의 평균 점수는 79.0입니다.

In [23]:
scores = [86, 72, 98, 60, 45]
grade_counter = [0, 0, 0, 0, 0]
for i in scores:
    if 85 <= i <= 100:
        grade_counter[0] += 1
    elif 70 <= i:
        grade_counter[1] += 1
    elif 55 <= i:
        grade_counter[2] += 1
    elif 40 <= i:
        grade_counter[3] += 1
    else:
        grade_counter[4] += 1
print(grade_counter)

[2, 1, 1, 1, 0]

In [30]:
for i in range(1,101):
    if i%3==0 and i%5==0: # if i%15==0:
        print("FizzBuzz", end="\t")
    elif i%3==0:
        print("Fizz", end="\t")
    elif i%5==0:
        print("Buzz", end="\t")
    else:
        print(i, end="\t")

1	2	Fizz	4	Buzz	Fizz	7	8	Fizz	Buzz	11	Fizz	13	14	FizzBuzz	16	17	Fizz	19	Buzz	Fizz	22	23	Fizz	Buzz	26	Fizz	28	29	FizzBuzz	31	32	Fizz	34	Buzz	Fizz	37	38	Fizz	Buzz	41	Fizz	43	44	FizzBuzz	46	47	Fizz	49	Buzz	Fizz	52	53	Fizz	Buzz	56	Fizz	58	59	FizzBuzz	61	62	Fizz	64	Buzz	Fizz	67	68	Fizz	Buzz	71	Fizz	73	74	FizzBuzz	76	77	Fizz	79	Buzz	Fizz	82	83	Fizz	Buzz	86	Fizz	88	89	FizzBuzz	91	92	Fizz	94	Buzz	Fizz	97	98	Fizz	Buzz

In [33]:
# 빈 문자열은 False 취급
for i in range(1, 101):
    print("Fizz" * (i % 3 == 0) + "Buzz" * (i % 5 == 0) or i, end="\t")

1	2	Fizz	4	Buzz	Fizz	7	8	Fizz	Buzz	11	Fizz	13	14	FizzBuzz	16	17	Fizz	19	Buzz	Fizz	22	23	Fizz	Buzz	26	Fizz	28	29	FizzBuzz	31	32	Fizz	34	Buzz	Fizz	37	38	Fizz	Buzz	41	Fizz	43	44	FizzBuzz	46	47	Fizz	49	Buzz	Fizz	52	53	Fizz	Buzz	56	Fizz	58	59	FizzBuzz	61	62	Fizz	64	Buzz	Fizz	67	68	Fizz	Buzz	71	Fizz	73	74	FizzBuzz	76	77	Fizz	79	Buzz	Fizz	82	83	Fizz	Buzz	86	Fizz	88	89	FizzBuzz	91	92	Fizz	94	Buzz	Fizz	97	98	Fizz	Buzz

In [37]:
name_list = ['matthew', 'mark', 'luke', 'john', 'paul', 'peter']
count=0
for name in name_list:
    for i in range(len(name)):
        if name[i] == 'm' or name[i] == 'h':
            count += 1
            break
print(f"m 또는 h가 이름에 포함된 사람은 {count}명 입니다.")

m 또는 h가 이름에 포함된 사람은 3명 입니다.

In [44]:
marks = [90, 25, 67, 45, 80]
for i in range(len(marks)):
    if marks[i] >= 60:
        print(f"{i+1}번 학생 축하합니다. 합격입니다.")
    else: continue

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [49]:
number=0
for mark in marks:
    number = number+1
    if mark<60:
        continue
    print(number, "번 학생 축하합니다. 합격입니다.")

1 번 학생 축하합니다. 합격입니다.
3 번 학생 축하합니다. 합격입니다.
5 번 학생 축하합니다. 합격입니다.

In [48]:
marks = [90, 25, 67, 45, 80]
i=0
while i <len(marks):
    if marks[i] >= 60:
        print(f"{i+1}번 학생 축하합니다. 합격입니다.")
        i+=1
    else: i+=1

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [50]:
arr = [1, 4, 2, 3]
left, right = 0, len(arr)-1
while left < len(arr)/2:
    arr[left], arr[right] = arr[right], arr[left]
    left += 1
    right -= 1
print("변환된 arr은", arr, "입니다.")

변환된 arr은 [3, 2, 4, 1] 입니다.