In [17]:
# scores = input("실기점수를 입력하세요: ").split(" ")
# scores = list(map(int, scores))
scores = list(map(int, input("실기점수를 입력하세요: ").split(" ")))
mini = scores[0]
maxi = scores[0]
total = 0

for i in (scores):
    total += i
    if i < mini: mini = i
    if i > maxi: maxi = i
total = total - maxi - mini

print(f"이 학생의 평균 점수는 {total/(len(scores)-2)}입니다.")
# 70 50 85 98 82: 79.0

실기점수를 입력하세요:  70 50 85 98 82

이 학생의 평균 점수는 79.0입니다.

In [23]:
scores = [86, 72, 98, 60, 45]
grade_counter = [0, 0, 0, 0, 0]
for i in scores:
    if 85 <= i <= 100:
        grade_counter[0] += 1
    elif 70 <= i:
        grade_counter[1] += 1
    elif 55 <= i:
        grade_counter[2] += 1
    elif 40 <= i:
        grade_counter[3] += 1
    else:
        grade_counter[4] += 1
print(grade_counter)

[2, 1, 1, 1, 0]

In [30]:
for i in range(1,101):
    if i%3==0 and i%5==0: # if i%15==0:
        print("FizzBuzz", end="\t")
    elif i%3==0:
        print("Fizz", end="\t")
    elif i%5==0:
        print("Buzz", end="\t")
    else:
        print(i, end="\t")

1	2	Fizz	4	Buzz	Fizz	7	8	Fizz	Buzz	11	Fizz	13	14	FizzBuzz	16	17	Fizz	19	Buzz	Fizz	22	23	Fizz	Buzz	26	Fizz	28	29	FizzBuzz	31	32	Fizz	34	Buzz	Fizz	37	38	Fizz	Buzz	41	Fizz	43	44	FizzBuzz	46	47	Fizz	49	Buzz	Fizz	52	53	Fizz	Buzz	56	Fizz	58	59	FizzBuzz	61	62	Fizz	64	Buzz	Fizz	67	68	Fizz	Buzz	71	Fizz	73	74	FizzBuzz	76	77	Fizz	79	Buzz	Fizz	82	83	Fizz	Buzz	86	Fizz	88	89	FizzBuzz	91	92	Fizz	94	Buzz	Fizz	97	98	Fizz	Buzz

In [33]:
# 빈 문자열은 False 취급
for i in range(1, 101):
    print("Fizz" * (i % 3 == 0) + "Buzz" * (i % 5 == 0) or i, end="\t")

1	2	Fizz	4	Buzz	Fizz	7	8	Fizz	Buzz	11	Fizz	13	14	FizzBuzz	16	17	Fizz	19	Buzz	Fizz	22	23	Fizz	Buzz	26	Fizz	28	29	FizzBuzz	31	32	Fizz	34	Buzz	Fizz	37	38	Fizz	Buzz	41	Fizz	43	44	FizzBuzz	46	47	Fizz	49	Buzz	Fizz	52	53	Fizz	Buzz	56	Fizz	58	59	FizzBuzz	61	62	Fizz	64	Buzz	Fizz	67	68	Fizz	Buzz	71	Fizz	73	74	FizzBuzz	76	77	Fizz	79	Buzz	Fizz	82	83	Fizz	Buzz	86	Fizz	88	89	FizzBuzz	91	92	Fizz	94	Buzz	Fizz	97	98	Fizz	Buzz

In [37]:
name_list = ['matthew', 'mark', 'luke', 'john', 'paul', 'peter']
count=0
for name in name_list:
    for i in range(len(name)):
        if name[i] == 'm' or name[i] == 'h':
            count += 1
            break
print(f"m 또는 h가 이름에 포함된 사람은 {count}명 입니다.")

m 또는 h가 이름에 포함된 사람은 3명 입니다.

In [44]:
marks = [90, 25, 67, 45, 80]
for i in range(len(marks)):
    if marks[i] >= 60:
        print(f"{i+1}번 학생 축하합니다. 합격입니다.")
    else: continue

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [49]:
number=0
for mark in marks:
    number = number+1
    if mark<60:
        continue
    print(number, "번 학생 축하합니다. 합격입니다.")

1 번 학생 축하합니다. 합격입니다.
3 번 학생 축하합니다. 합격입니다.
5 번 학생 축하합니다. 합격입니다.

In [48]:
marks = [90, 25, 67, 45, 80]
i=0
while i <len(marks):
    if marks[i] >= 60:
        print(f"{i+1}번 학생 축하합니다. 합격입니다.")
        i+=1
    else: i+=1

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [50]:
arr = [1, 4, 2, 3]
left, right = 0, len(arr)-1
while left < len(arr)/2:
    arr[left], arr[right] = arr[right], arr[left]
    left += 1
    right -= 1
print("변환된 arr은", arr, "입니다.")

변환된 arr은 [3, 2, 4, 1] 입니다.

In [57]:
for i in range(1, 10):
    for j in range(2, 10):
        print(f"{j}x{i}={j*i}", end="\t")
    print("\n")

2x1=2	3x1=3	4x1=4	5x1=5	6x1=6	7x1=7	8x1=8	9x1=9

2x2=4	3x2=6	4x2=8	5x2=10	6x2=12	7x2=14	8x2=16	9x2=18

2x3=6	3x3=9	4x3=12	5x3=15	6x3=18	7x3=21	8x3=24	9x3=27

2x4=8	3x4=12	4x4=16	5x4=20	6x4=24	7x4=28	8x4=32	9x4=36

2x5=10	3x5=15	4x5=20	5x5=25	6x5=30	7x5=35	8x5=40	9x5=45

2x6=12	3x6=18	4x6=24	5x6=30	6x6=36	7x6=42	8x6=48	9x6=54

2x7=14	3x7=21	4x7=28	5x7=35	6x7=42	7x7=49	8x7=56	9x7=63

2x8=16	3x8=24	4x8=32	5x8=40	6x8=48	7x8=56	8x8=64	9x8=72

2x9=18	3x9=27	4x9=36	5x9=45	6x9=54	7x9=63	8x9=72	9x9=81

In [69]:
i=1
while i<10:
    j=2
    while j<10:
        print(f"{j}x{i}={j*i}", end="\t")
        j+=1
    i+=1
    
    print("\n")

2x1=2	3x1=3	4x1=4	5x1=5	6x1=6	7x1=7	8x1=8	9x1=9

2x2=4	3x2=6	4x2=8	5x2=10	6x2=12	7x2=14	8x2=16	9x2=18

2x3=6	3x3=9	4x3=12	5x3=15	6x3=18	7x3=21	8x3=24	9x3=27

2x4=8	3x4=12	4x4=16	5x4=20	6x4=24	7x4=28	8x4=32	9x4=36

2x5=10	3x5=15	4x5=20	5x5=25	6x5=30	7x5=35	8x5=40	9x5=45

2x6=12	3x6=18	4x6=24	5x6=30	6x6=36	7x6=42	8x6=48	9x6=54

2x7=14	3x7=21	4x7=28	5x7=35	6x7=42	7x7=49	8x7=56	9x7=63

2x8=16	3x8=24	4x8=32	5x8=40	6x8=48	7x8=56	8x8=64	9x8=72

2x9=18	3x9=27	4x9=36	5x9=45	6x9=54	7x9=63	8x9=72	9x9=81

### 23.01.10 화

### 딕셔너리: Key, Value. 비 시퀀스. 인덱스 갖지 않음. 1대 1로 매칭되는 값 가진다. key value pair

### 중괄호 {} 사용. key:value. 콤마로 구분

In [70]:
dic_var = {"key": "value"}
print(type(dic_var))
print(dic_var)

<class 'dict'>
{'key': 'value'}

### 중복값 있을 경우 마지막 값이 나옴

In [72]:
dic_var = {"key":"value", "key": "last valuse"}
print(dic_var)

{'key': 'last valuse'}

### 딕셔너리 자료형에는 문자열(str), 정수(int), 실수(float), 불(bool), 튜플(tuple) 사용 가능. 섞어서 사용할 수도 있다.
### 단 키에는 리스트(list), 딕셔너리(dictionary), 집합(set) 사용 불가
### 키(key)는 고유한 값을 가져야 함(인덱스에 겹치는 숫자가 없듯이)

In [74]:
dic_var = {"key":"value",
           1:"value2",
           1.1:"value3",
           True:"value4",
           ("key", 1, 1.1, True): "value2"}
print(list(map(type, dic_var.keys())))

[<class 'str'>, <class 'int'>, <class 'float'>, <class 'tuple'>]

In [76]:
dic_var = {"key":"value",
           1:1,
           1.1:1.1,
           True:False,
           ("key", 1, 1.1, True): "value2"}
print(list(map(type, dic_var.values())))

[<class 'str'>, <class 'bool'>, <class 'float'>, <class 'str'>]

In [82]:
empty_dict = {}
print(empty_dict)
print(type(empty_dict))

{}
<class 'dict'>

In [80]:
empty_dict = dict()
print(empty_dict)
print(type(empty_dict))

{}
<class 'dict'>

### dict() 함수로 만들려면 key는 ""사용불가

In [83]:
dict_a = dict(key="value", key2="value2", key3="value3")
print(dict_a)

{'key': 'value', 'key2': 'value2', 'key3': 'value3'}

In [85]:
dict ([("key", "value"), ("key2", "value2")])

{'key': 'value', 'key2': 'value2'}

In [87]:
dict_b = dict(zip(["key", "key2", "key3"], ["value1", "value2", "value3"]))
print(dict_b)

{'key': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [88]:
print(zip(["key", "key2", "key3"], ["value1", "value2", "value3"]))

<zip object at 0x000001764EEB6340>

In [91]:
[_ for _ in zip(["key", "key2", "key3"], ["value1", "value2", "value3"])]

[('key', 'value1'), ('key2', 'value2'), ('key3', 'value3')]

In [92]:
print(dict_b)
print(dict_b['key'])

{'key': 'value1', 'key2': 'value2', 'key3': 'value3'}
value1

In [93]:
print(dict_b)
dict_b['key']="super value"
print(dict_b)

{'key': 'value1', 'key2': 'value2', 'key3': 'value3'}
{'key': 'super value', 'key2': 'value2', 'key3': 'value3'}

In [94]:
print(dict_b)
dict_b['new one'] = "new value"
print(dict_b)

{'key': 'super value', 'key2': 'value2', 'key3': 'value3'}
{'key': 'super value', 'key2': 'value2', 'key3': 'value3', 'new one': 'new value'}

In [95]:
print(dict_b)
print(dict_b['없는 키'])

{'key': 'super value', 'key2': 'value2', 'key3': 'value3', 'new one': 'new value'}

KeyError: '없는 키'

In [96]:
print(dict_b)
print('key' in dict_b)

{'key': 'super value', 'key2': 'value2', 'key3': 'value3', 'new one': 'new value'}
True

In [97]:
print(dict_b)
del dict_b['new one']
print(dict_b)

{'key': 'super value', 'key2': 'value2', 'key3': 'value3', 'new one': 'new value'}
{'key': 'super value', 'key2': 'value2', 'key3': 'value3'}

In [98]:
print(dict_b)
len(dict_b)

{'key': 'super value', 'key2': 'value2', 'key3': 'value3'}

3

In [105]:
fruits = {"사과": 1000, "바나나":700, "오렌지":1500, "파인애플":2000}
name = input("과일 이름을 입력하세요: ")
print(fruits[name])

과일 이름을 입력하세요:  사과

1000

In [116]:
dict_name = input("이름을 기입해주세요: ").split(" ")
dict_weight = map(float, input("몸무게를 입력해주세요: ").split(" "))
dict_info = dict(zip(dict_name, dict_weight))
print(dict_info)

이름을 기입해주세요:  김 이 박 최
몸무게를 입력해주세요:  1 2 3 4

{'김': 1.0, '이': 2.0, '박': 3.0, '최': 4.0}

In [121]:
dict_name = input("이름을 기입해주세요: ").split(" ")
dict_weight = list(map(float, input("몸무게를 입력해주세요: ").split(" ")))
dict_info = {}
# dict_info = dict()
# len(names) --> 4
# range(4) --> 0, 1, 2, 3
# i --> i = 0 반복, i = 1 반복, i = 2 반복, i = 3 반복
for i in range(len(dict_name)):
    dict_info[dict_name[i]] = dict_weight[i]
print(dict_info)

이름을 기입해주세요:  kim lee park choi
몸무게를 입력해주세요:  1 2 3 4

{'kim': 1.0, 'lee': 2.0, 'park': 3.0, 'choi': 4.0}

### 리스트

In [122]:
empty_list = []
print(empty_list)

[]

In [123]:
list_b = list(map(int, input("숫자를 띄어쓰기로 구분하여 여럿 입력해보세요: ").split()))
print(type(list_b))
print(list_b)

숫자를 띄어쓰기로 구분하여 여럿 입력해보세요:  1 2 3 4 5 6

<class 'list'>
[1, 2, 3, 4, 5, 6]

In [124]:
list_sample = "a b c d".split()
print(list_sample)

['a', 'b', 'c', 'd']

list_variable = [expression for 변수 in iterable]

반복 가능한 객체(iterable)로부터 값을 하나 꺼내와서 변수에 담음.

list_variable = [expression for 변수 in iterable]

In [126]:
# range --> 0, 1, 2, .. 9
# _ --> 0, 1, 2, ... 9
list_a = [_ ** 2 for _ in range(1, 10)]
print(list_a)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [128]:
list_b = [print("hello world") for _ in range(5)]

hello world
hello world
hello world
hello world
hello world

In [133]:
list_c = []
for _ in range(1, 10):
    list_c.append(_ ** 2)
print(list_c)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [138]:
#위와 같은 코드
list_d = [_ ** 2 for _ in range(1, 10)]
print(list_d)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [139]:
prac_result = [_**2 for _ in range(1, 10)]
print(type(prac_result))
print(prac_result)

<class 'list'>
[1, 4, 9, 16, 25, 36, 49, 64, 81]